<% include partials/header %>

<div class="container">
  <header class="jumbotron">Welcome to Yelp Camp!</header>


<a href="/campgrounds"> View all campgrounds</a>

<p>Trademark</p>
</div>

<% include partials/footer %>